files:
  "/home/ec2-user/00_elastic_beanstalk_proxy.sh":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      export APP_ENV=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o APP_ENV)
      if [[ $APP_ENV = "prev" ]]; then sed -i 's/proxy_cache nec-cache/proxy_cache off/g' .ebextensions/00_elastic_beanstalk_proxy.conf; fi
      cp .ebextensions/00_elastic_beanstalk_proxy.conf /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf

container_commands:
  00_copy_elastic_beanstalk_proxy_conf:
    command: "source /home/ec2-user/00_elastic_beanstalk_proxy.sh"
