option_settings:
  -
    namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: '/health-check'
  -
    namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: SystemType
    value: 'enhanced'
  -
    namespace: 'aws:elasticbeanstalk:environment'
    option_name: EnvironmentType
    value: 'LoadBalanced'
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "MeasureName"
    value: "Latency"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Statistic"
    value: "Average"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Unit"
    value: "Seconds"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Period"
    value: "5"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "BreachDuration"
    value: "5"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "UpperThreshold"
    value: "3"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "UpperBreachScaleIncrement"
    value: "1"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "LowerThreshold"
    value: "0.6"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "LowerBreachScaleIncrement"
    value: "-1"
  -
    namespace: 'aws:elasticbeanstalk:customoption'
    option_name: CachePort
    value: 6379
  -
    namespace: 'aws:elasticbeanstalk:customoption'
    option_name: CacheSubnets
    value:
      - Fn::GetOptionSetting:
          OptionName: "EnvironmentCacheSubnets1"
      - Fn::GetOptionSetting:
          OptionName: "EnvironmentCacheSubnets2"
  -
    namespace: 'aws:elb:loadbalancer'
    option_name: LoadBalancerSSLPortProtocol
    value: 'HTTPS'
  -
    namespace: 'aws:elb:loadbalancer'
    option_name: LoadBalancerHTTPSPort
    value: '443'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: PORT
    value: '8080'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: 'NODE_ENV'
    value: 'production'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: NEW_RELIC_LOG_LEVEL
    value: 'info'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: NEW_RELIC_CAPTURE_PARAMS
    value: 'true'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: NEW_RELIC_BROWSER_MONITOR_ENABLE
    value: 'false'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: NEW_RELIC_IGNORING_RULES
    value: '^/health-check'
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: 'BILLING_PRODUCT'
    value: 'Network'
