packages:
  rpm:
    newrelic-sysmond: https://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-sysmond-1.4.3.478-1.x86_64.rpm

container_commands:
  01_configure_newrelic:
    command: /usr/sbin/nrsysmond-config --set license_key=$NEW_RELIC_LICENSE_KEY
    test: test $NEW_RELIC_LICENSE_KEY
    ignoreErrors: false

  02_start_newrelic:
    command: /etc/init.d/newrelic-sysmond start
    test: test $NEW_RELIC_LICENSE_KEY
    ignoreErrors: false
