files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
      - paths:
          - /var/log/nodejs/nodejs.log
        json.message_key: type
        json.keys_under_root: true
        json.add_error_key: true
        json.overwrite_keys: true
        fields_under_root: true
        fields:
          app_env: ${APP_ENV}
        pipeline: filebeat-6.2.2-nodejs-nec-network

      - paths:
          - /var/log/nginx/access.log
        fields_under_root: true
        fields:
          app_name: "election-api"
          app_env: ${APP_ENV}
        pipeline: filebeat-6.2.2-nginx-access-nec-network

      - paths:
          - /var/log/nginx/error.log
        fields_under_root: true
        fields:
          app_name: "election-api"
          app_env: ${APP_ENV}
        pipeline: filebeat-6.2.2-nginx-error-pipeline

      output.elasticsearch:
        hosts: ["${ELASTICSEARCH_URL}"]

  "/home/ec2-user/filebeat.sh":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      export APP_ENV=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o APP_ENV)
      export ELASTICSEARCH_URL=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o ELASTICSEARCH_URL)
      /etc/init.d/filebeat start

  "/etc/metricbeat/metricbeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      metricbeat.config.modules:
        path: /etc/metricbeat/modules.d/*.yml

      fields_under_root: true
      fields:
        app_name: "election-api"
        app_env: ${APP_ENV}

      output.elasticsearch:
        hosts: ["${ELASTICSEARCH_URL}"]

  "/home/ec2-user/metricbeat.sh":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      export APP_ENV=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o APP_ENV)
      export ELASTICSEARCH_URL=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o ELASTICSEARCH_URL)
      /etc/init.d/metricbeat start

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.2.2-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-6.2.2-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "source ./filebeat.sh"
    cwd: /home/ec2-user
  4_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/metricbeat/metricbeat-6.2.2-x86_64.rpm"
    cwd: /home/ec2-user
  5_command:
    command: "rpm -ivh --replacepkgs metricbeat-6.2.2-x86_64.rpm"
    cwd: /home/ec2-user
  6_command:
    command: "mv /etc/metricbeat/modules.d/nginx.yml.disabled /etc/metricbeat/modules.d/nginx.yml"
    cwd: /home/ec2-user
  7_command:
    command: "source ./metricbeat.sh"
    cwd: /home/ec2-user
