files:
  "/home/ec2-user/export-variables.sh":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      export OPS_UPTIME_PROFILE=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o OPS_UPTIME_PROFILE)
      export BILLING_PRODUCT=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o BILLING_PRODUCT)
      export OPS_BILLING_ENV=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o OPS_BILLING_ENV)
      export AWS_REGION=$(cat /etc/elasticbeanstalk/.aws-eb-stack.properties | grep "region=" | cut -d= -f2)

commands:
  01_add_tags:
    command: "source /home/ec2-user/export-variables.sh && /opt/aws/bin/ec2-create-tags $(ec2-metadata -i | cut -d ' ' -f2) --tag BillingProduct=$BILLING_PRODUCT --tag BillingEnvironment=$OPS_BILLING_ENV --tag uptimeProfile=$OPS_UPTIME_PROFILE --region $AWS_REGION"
    env:
      EC2_HOME: /opt/aws/apitools/ec2
      EC2_URL: https://ap-southeast-2.ec2.amazonaws.com
      JAVA_HOME: /usr/lib/jvm/jre
      PATH: /bin:/usr/bin:/opt/aws/bin/
    ignoreErrors: "true"
